.header,
.nav-items,
.nav-items > ul {
  align-items: center;
  display: flex;
}

.header {
  border: 1px solid black;
  justify-content: space-between;
}

.nav-items > ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}

.nav-items > ul > li {
  font-size: 20px;
  /* margin: 10px; */
  padding: 10px;
}

.logo {
  width: 100px;
}

.search {
  padding: 10px;
}

.res-container,
.shimmer-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.res-card,
.shimmer-card {
  background: #f0f0f0;
  border: 1px solid transparent;
  height: 400px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  width: 200px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo {
  border: 1px solid black;
  height: 50%;
  object-fit: cover;
  width: 100%;
}

.res-card h3 {
  height: 44px;
  margin: 5px 0 0;
}

.res-card h4 {
  margin: 10px 0 0;
}

.res-card h4.cuisines {
  height: 54px;
}

.filter {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.filter-btn {
  cursor: pointer;
  margin: 10px;
}

.shimmer-btn {
  background: rgb(240, 240, 240);
  height: 20px;
  margin: 10px;
  width: 150px;
}

.login-btn {
  cursor: pointer;
  margin-right: 20px;
  padding: 5px 0px;
  width: 85px;
}

.search-box {
  width: 300px;
}